


{% extends 'index.html' %}


{% load static %}
{% block content %}




<meta charset="UTF-8">
<title>{% block title %}{{topblog.title}}{% endblock %}</title>
<meta name="description" content="{% block description %}{{topblog.meta_decription}}{% endblock %}">
<meta name="keywords" content="{% block keywords %}{{topblog.meta_keywords}}{% endblock %}">
<meta name="author" content="{% block author %}{{topblog.author}}{% endblock %}">
<link rel="canonical" href="{% block canonical %}https://codeajay.in/blog/{{topblog.slug}}{% endblock %}">


<style>

    .bbbb{
        background :url("{% static 'bb.png' %}") ;
        background-position: top;
        background-size:cover;
        padding-top: 80px;
        padding-bottom :80px;
    }

    .active{
        color :var(--color4);
    }


    .home-active{

    color : var(--color2);
}
.blog-active{

    color : var(--color2);
}
.about-active{

    color : var(--color2);
}
.contact-active{

    color : var(--color4);
}




</style>




{% endblock %}


