<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post-tracker</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: black;

        }
    </style>

</head>
<body>
    <section class="container">

        <div class="nav col-2 p-3">
            <img class="img-fluid" src="http://127.0.0.1:8000/static/logo.png" width="">
        </div>
    
    
        <div class="track mb-5">
            <div class="row">
    
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img class="img-fluid" src="http://127.0.0.1:8000/static/img.jpg">
                </div>


                <div class="col-sm-12 col-md-6 col-lg-9">

                    <div class="row">
                        <div class="col-2">
                            
                        </div>
                        <div class="col-10">

                        </div>
                    </div>                    

                </div>
    
                
    
            </div>
        </div>



    </section>
    
    
    





    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</body>
</html>